@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

body {
  margin: 0;
  color: #5a5c5f;
  font: 400 14px Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #ff385c;
}

h1,
h2,
h3,
h4,
h5 {
  color: #545658;
}

* {
  margin: 0;
  padding: 0;
}

.logoBtn {
  border: none;
}

.logo img {
  padding: 20px 0;
  width: 100px;
}

.bar {
  width: 30px;
  margin: 4px;
  height: 4px;
  color: #ebebeb;
  background: #8b8a8a;
}

.btn {
  border: 1px solid #666363;
  border-radius: 4 px;
  display: inline-block;
  cursor: pointer;
}

.logoBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  border-radius: 4px;
  box-shadow: 0px 0px 0.2em rgb(153, 151, 151);
  -webkit-box-shadow: 0px 0px 0.2em rgb(153, 151, 151);
  -moz-box-shadow: 0px 0px 0.2em rgb(153, 151, 151);
}

ul {
  list-style: none;
  height: 0px;
  overflow: hidden;
}

.showNav {
  height: 160px;
}

ul li a {
  display: block;
  color: #666363;
  padding: 10px;
  font-size: 16px;
  font-weight: initial;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  transition: all 0.5s ease;
}

.btn-register {
  background: #fff;
  color: #1b1a1a;
  font-size: 14px;
  font-weight: 700;
  padding: 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease;
  box-shadow: 0px 0px 0.2em rgb(153, 151, 151);
  -webkit-box-shadow: 0px 0px 0.2em rgb(153, 151, 151);
  -moz-box-shadow: 0px 0px 0.2em rgb(153, 151, 151);
}

.btn-register:hover {
  box-shadow: 0px 0px 0.3em #666;
  -webkit-box-shadow: 0px 0px 0.3em #666;
  -moz-box-shadow: 0px 0px 0.3em #666;
}

.btn-select {
  background: #fff;
  color: #1b1a1a;
  font-size: 14px;
  font-weight: 700;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.borderleft {
  border-left: 0.1px solid #d8d8d8;
}

.iconwesome {
  padding: 10px;
  color: #ff385c;
  font-size: 20px;
}

ul li a:hover {
  color: #000000;
}

@media screen and (min-width: 640px) {
  nav {
    padding: 0 20px;
    display: flex;
    position: fixed;
    background: #fff;
    width: 100%;
    z-index: 4;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 1em #666;
    -webkit-box-shadow: 0px 0px 1em #666;
    -moz-box-shadow: 0px 0px 1em #666;
  }

  .btn {
    display: none;
  }

  ul {
    display: flex;
    height: auto;
  }

  nav ul a {
    background: transparent;
  }

  .showNav {
    height: 160px;
  }

  nav ul a {
    background: transparent;
  }

  .logoBtn {
    border: none;
  }
}

.searchbar {
  padding: 5px;
  height: 30px;
  margin-left: 5px;
  background-color: #ffffff;
  border-color: #ff385c;
}

.search-input {
  color: #666363;
  border: 0;
  outline: 0;
  width: 0;
  caret-color: transparent;
  line-height: 30px;
  font-size: 16px;
  transition: width 0.3s linear;
}

.searchbar:hover > .search-input {
  padding: 0 10px;
  width: 150px;
  caret-color: #ff385c;
  transition: width 0.4s linear;
}

.searchbar:hover > .search-icon {
  background: white;
  color: #ff385c;
}

.search-icon {
  height: 10px;
  width: 10px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666363;
  text-decoration: none;
}
